@layer base {
  /*- Headings */
  h1 {
    @apply text-4xl font-extrabold tracking-tight scroll-m-20 lg:text-5xl;
    --wght: 900;
  }

  h2 {
    @apply pb-2 text-3xl font-semibold tracking-tight transition-colors border-b scroll-m-20 first:mt-0;
  }

  h3 {
    @apply text-2xl font-semibold tracking-tight scroll-m-20;
  }

  h4 {
    @apply text-xl font-semibold tracking-tight scroll-m-20;
    --wght: 600;
  }

  h5 {
    @apply uppercase;
    --wght: 600;
  }
  h6 {
    /* @apply uppercase ~text-sm/base; */
    --wght: 600;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-variation-settings: 'wght' var(--wght, 500);
    @apply text-balance font-heading;
    &:has(+ p),
    &:has(+ .block-wrapper),
    &:has(+ figure) {
      @apply mb-2;
    }
  }

  /*- Paragraph */
  ul,
  ol,
  blockquote,
  menu,
  figure {
    + p {
      /* @apply mt-4; */
    }
  }

  p {
    @apply text-balance;
  }

  acronym,
  abbr {
    @apply underline-offset-4;
  }
  q {
    @apply italic;
  }
  samp {
    @apply px-1.5;
  }

  textarea {
    field-sizing: content;
  }

  /*- Links */
  a:has(sup) + a:has(sup) {
    @apply ms-0.5;
  }

  input {
    &[type='checkbox'],
    &[type='radio'],
    &[type='range'] {
      @apply accent-primary;
    }
  }
  progress {
    @apply accent-primary;
  }

  /*- Lists */
  /* ul,
  ol {
    @apply my-1 ms-6;
  }

  ul {
    @apply list-disc;
    & ul {
      list-style-type: circle;
    }
  }

  ol {
    @apply ms-[3ch] list-decimal;
    li::marker {
      @apply font-mono font-semibold;
    }
  } */

  /*- Utilities */
  .lead {
    @apply max-w-[69ch] text-pretty leading-relaxed! text-secondary-foreground/70;
  }

  .large {
    @apply text-lg font-semibold;
  }

  .small {
    @apply text-sm font-normal leading-none;
  }

  /*- Text selection */
  ::moz-selection {
    background: var(--foreground);
    color: var(--background);
  }

  ::selection {
    background: var(--foreground);
    color: var(--background);
  }
}

@layer components {
  /* Targets the parent wrapper container */
  div:has(> table) {
    @apply w-full my-6 overflow-y-auto;
  }

  /* Semantic table styles */
  table {
    @apply w-full;

    tr {
      @apply p-0 m-0 border-t even:bg-card;
    }

    th {
      @apply px-4 py-2 font-bold border text-start;
      @apply [&[align=center]]:text-center [&[align=right]]:text-end;
    }

    td {
      @apply px-4 py-2 border text-start;
      @apply [&[align=center]]:text-center [&[align=right]]:text-end;
    }
  }

  /*- Blocks */
  code {
    @apply bg-muted relative rounded px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
  }

  blockquote {
    @apply mt-6 italic text-balance border-s-2 border-muted ps-6;
  }

  pre {
    @apply overflow-scroll rounded border bg-muted px-[0.3rem] py-[0.2rem] text-sm font-semibold text-muted-foreground;
  }
}

/* @layer components {
  a.animate {
    border-bottom-width: 0;
    background-image:
      linear-gradient(transparent, transparent), linear-gradient(hsl(var(--primary)), hsl(var(--primary)));
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
  }

  a.animate:hover {
    background-size: 100% 2px;
    background-position: 0 100%;
  }
} */
